<% if (blogs.length) { %>
  <ul class="blogs-list">
    <% blogs.forEach(blog => { %>
      <li>
        <a href="<%= `/blog/${blog.slug}` %>">
          <article class="blog-card">
            <h3>
              <%= blog.title %>
            </h3>
            <span>
              <%= blog.author.name %>
            </span>
            <span>
              <%= blog.createdAt %>
            </span>
            <p>
              <%= blog.description %>
            </p>
            <ul>
              <% blog.tags.forEach(tag => { %>
                <li>
                  <%= tag %>
                </li>
              <% }) %>
            </ul>
          </article>
        </a>
      </li>
    <% }) %>
  </ul>

  <ul class="pagination">
    <% for( let index = 1; index <= Math.ceil(total / 12); index++ ) { %>
      <li>
        <a href="<%= `${pathname}?page=${index}` %>">
          <button class="<%= `btn-primary ${page == index && "selection"}` %>">
            <%= index %>
          </button>
        </a>
      </li>
    <% } %>
  </ul>
<% } else { %>
  No Blogs
<% } %>
</main>
