<!DOCTYPE html>
<html lang="en">
<%- include("./partials/layout/head", {
  title: "Express Blog",
  pageStyle: "about.css",
}) %>
<body>
  <%- include("./partials/layout/navbar") %>
  <main>
    <%- include("./partials/about/header") %>
    <%- include("./partials/about/features") %>
  </main>
  <%- include("./partials/layout/footer") %>
</body>
</html>
