<!DOCTYPE html>
<html lang="en">
<%- include("./partials/layout/head", { title: "Express Blog" }) %>
<body>
  <%- include("./partials/layout/navbar") %>
  <main>
    <h2>
      All Blogs
    </h2>
    <% if (blogs.length) { %>
      <% blogs.forEach(blog => { %>
        <article>
          <h2>
            <%= blog.title %>
          </h2>
          <p>
            <%= blog.description %>
          </p>
        </article>
      <% }) %>
      <%= blogs.length %> Blogs
    <% } else { %>
      No Blogs
    <% } %>
  </main>
  <%- include("./partials/layout/footer") %>
</body>
</html>
