<!DOCTYPE html>
<html lang="en">
<%- include("./partials/layout/head", {
  title: "Express Blog",
  pageStyle: isAuthenticated ? "home/dashboard.css" : "home/landing-page.css"
}) %>
<body>
  <%- include("./partials/layout/navbar") %>
  <main>
    <% if (isAuthenticated) { %>
      <%- include("./partials/home/dashboard") %>
    <% } else { %>
      <%- include("./partials/home/landing-page") %>
    <% } %>
  </main>
  <%- include("./partials/layout/footer") %>
</body>
</html>
