<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", {
  title: "Express Blog",
  pageStyle: "index.css"
  }) %>
<body>
  <%- include("./partials/navbar") %>
  <main>
    <% if (blogs.length) { %>
      <% blogs.forEach(blog => { %>
        <article>
          <h2>
            <%= blog.title %>
          </h2>
          <p>
            <%= blog.description %>
          </p>
        </article>
      <% }) %>
      <%= blogs.length %> Blogs
    <% } else { %>
      No Blogs
    <% } %>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>
