<!DOCTYPE html>
<html lang="en">
<%- include("../partials/layout/head", {
  title: "Create Blog | Express Blog",
  pageStyle: "blog/create.css",
}) %>
<body>
  <%- include("../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      Create Blog
    </h2>

    <form action="/blog/create" method="post">
      <div>
        <div class="input-container">
          <input name="title" placeholder="Title" required />
        </div>
        <% if (locals.error?.title) { %>
          <span class="error-message">
            <%= error.title %>
          </span>
        <% } %>
      </div>

      <div>
        <div class="input-container">
          <input id="slug_input" name="slug" placeholder="Slug" required />
        </div>
        <% if (locals.error?.slug) { %>
          <span class="error-message">
            <%= error.slug %>
          </span>
        <% } %>
      </div>

      <div>
        <div class="input-container">
          <textarea name="content" placeholder="Write what are you thinking about..." required class="content"></textarea>
        </div>
        <% if (locals.error?.content) { %>
          <span class="error-message">
            <%= error.slug %>
          </span>
        <% } %>
      </div>

      <div>
        <div class="input-container">
          <textarea name="description" placeholder="Write a short summary" required class="description"></textarea>
        </div>
        <% if (locals.error?.description) { %>
          <span class="error-message">
            <%= error.slug %>
          </span>
        <% } %>
      </div>

      <section class="tags-container">
        <div class="tag-input-container">
          <input type="text" id="tags_input" placeholder="Add tags" />
          <button type="button" class="add-tag-btn btn-primary">
            Add Tag
          </button>
        </div>
        <span class="label">
          Tags
        </span>
        <ul id="tags_list">
          <li class="tag">
            <span>
              Tag
            </span>
            <button type="button" class="delete-tag-btn btn-primary">
              &times;
            </button>
          </li>
          <li class="tag">
            <span>
              Tag
            </span>
            <button type="button" class="delete-tag-btn btn-primary">
              &times;
            </button>
          </li>
          <li class="tag">
            <span>
              Tag
            </span>
            <button type="button" class="delete-tag-btn btn-primary">
              &times;
            </button>
          </li>
          <li class="tag">
            <span>
              Tag
            </span>
            <button type="button" class="delete-tag-btn btn-primary">
              &times;
            </button>
          </li>
          <li class="tag">
            <span>
              Tag
            </span>
            <button type="button" class="delete-tag-btn btn-primary">
              &times;
            </button>
          </li>
        </ul>
      </section>

      <button class="blog-create-btn btn-primary">
        Create
      </button>
    </form>
  </main>
  <%- include("../partials/layout/footer") %>
</body>
<script src="/scripts/createBlog.js"></script>
</html>
