<!DOCTYPE html>
<html lang="en">
<%- include("../partials/layout/head", {
  title: `${locals.blog ? "Edit " + locals.blog.title : "Create Blog"} | Express Blog`,
  pageStyle: "blog/create.css",
}) %>
<body>
  <%- include("../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      <%= locals.blog ? "Edit" : "Create" %>
      Blog
    </h2>

    <form action="<%= locals.blog?._id ? `/blog/${locals.blog._id}?_method=PATCH` : "/blog/create" %>" method="post">

      <div>
        <div class="input-container">
          <input name="title" value="<%= locals.blog?.title %>" placeholder="Title" required />
        </div>
        <% if (locals.errors?.title) { %>
          <span class="error-message">
            <%= errors.title %>
          </span>
        <% } %>
      </div>

      <div>
        <div class="input-container">
          <input id="slug_input" name="slug" value="<%= locals.blog?.slug %>" placeholder="Slug" required />
        </div>
        <% if (locals.errors?.slug) { %>
          <span class="error-message">
            <%= errors.slug %>
          </span>
        <% } %>
      </div>

      <div>
        <div class="input-container">
          <textarea name="content" placeholder="Write what are you thinking about..." required class="content"><%= locals.blog?.content %></textarea>
        </div>
        <% if (locals.errors?.content) { %>
          <span class="error-message">
            <%= errors.slug %>
          </span>
        <% } %>
      </div>

      <div>
        <div class="input-container">
          <textarea name="description" placeholder="Write a short summary" required class="description"><%= locals.blog?.description %></textarea>
        </div>
        <% if (locals.errors?.description) { %>
          <span class="error-message">
            <%= errors.slug %>
          </span>
        <% } %>
      </div>

      <section class="tags-container">
        <div class="tag-input-container">
          <input type="text" id="tags_input" placeholder="Add tags" />
          <button type="button" class="add-tag-btn btn-primary" onclick="addTag()">
            Add Tag
          </button>
        </div>
        <span class="label">
          Tags
        </span>
        <ul id="tags_list">
          <% locals.blog?.tags.forEach(tag => { %>
            <li class="tag">
              <span>
                <%= tag %>
              </span>
              <input type="hidden" name="tags[]" value="<%= tag %>" />
              <button type="button" class="delete-tag-btn btn-primary" onclick="removeTag(event)">
                &times;
              </button>
            </li>
          <% }) %>
        </ul>
      </section>

      <button class="blog-create-btn btn-primary">
        <%= locals.blog ? "Update" : "Create" %>
      </button>
    </form>
  </main>
  <%- include("../partials/layout/footer") %>
</body>
<script src="/scripts/createBlog.js"></script>
</html>
