<!DOCTYPE html>
<html lang="en">
<%- include("../partials/layout/head", {
  title: `${blog.title} | Express Blog`,
  pageStyle: "blog/view.css",
}) %>
<body>
  <%- include("../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      <%= blog.title %>
    </h2>
    <span>
      <%= blog.author.name %>
    </span>
    <span>
      <%= blog.createdAt %>
    </span>
    <% if (user._id === blog.author.id) { %>
      <a href="<%= `/blog/${blog.slug}/edit` %>">
      <button class="btn-primary">
          Edit
      </button>
      </a>
     <button class="btn-primary" onclick="confirmDelete()">
       Delete
     </button>
    <% } %>
    <ul>
      <% blog.tags.forEach(tag => { %>
        <li>
          <%= tag %>
        </li>
      <% }) %>
    </ul>

    <input type="hidden" id="id" value="<%= blog.id %>">
  </main>
  <%- include("../partials/layout/footer") %>
</body>
<script src="/scripts/blog/delete.js"></script>
</html>
