<!DOCTYPE html>
<html lang="en">
<%- include("../partials/layout/head", {
  title: `${title} | Express Blog`,
  pageStyle: "blog/view.css",
}) %>
<body>
  <%- include("../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      <%= title %>
    </h2>
    <span>
      <%= author.name %>
    </span>
    <span>
      <%= createdAt %>
    </span>
    <ul>
      <% tags.forEach(tag => { %>
        <li>
          <%= tag %>
        </li>
      <% }) %>
      <li>
      </li>
    </ul>

  </main>
  <%- include("../partials/layout/footer") %>
</body>
</html>
